body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: hsl(31, 49%, 63%);
}

.app {
  margin-top: 50px;
}

.joke-container {
  font-size: 1.2em;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  display: inline-block;
}

.fetch-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  background-color: #b6a93a;
  color: black;
  cursor: pointer;
  border-radius: 15px;
  margin-top: 20px;
}

.fetch-button:hover {
  background-color: #a7b300;
}
